.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
  background: url('/assets/billie_holiday.png');
  /* Times New Roman-based stack */
font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

.navbar.navbar-inverse {
  background: url('/assets/slash_it.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #FC8105;
  font-family: 'kaushan_scriptregular', sans-serif;
  font-size: 26px;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
}

#map-canvas {
  height: 300px;
}

.page_links {
  background: url('/assets/billie_holiday.png');
  cursor: default;
  /* self-clearing method: */ }
  .page_links a, .page_links span, .page_links em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .page_links .disabled {
    color: #999999;
    border: 1px solid #999999; }
  .page_links .current {
    font-style: normal;
    font-weight: bold;
    background: black;
    color: white;
    border: 1px solid black; }
  .page_links a {
    text-decoration: none;
    color: black;
    border: 1px solid #999999; }
    .page_links a:hover, .page_links a:focus {
      color: #000033;
      border-color: black; }
  .page_links .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .page_links .page_info b {
      color: black;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .page_links:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .page_links {
    height: 1%; }
  *:first-child + html .page_links {
    overflow: hidden; }
